@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  color: #000;
}

.product-title {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* ::-webkit-scrollbar{
  display: none;
} */